<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NStandard" version="0.6.7.1" targetFramework="net35" />
  <package id="SQLib" version="0.8.6" targetFramework="net35" />
  <package id="SQLib.Sqlite" version="0.8.6" targetFramework="net35" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net35" />
  <package id="System.Data.SQLite.Core" version="1.0.113.7" targetFramework="net35" />
</packages>